.direnv
.env

s-vet/.gradle
s-vet/.hie
s-vet/.stack-work
s-vet/.env
s-vet/*.db
s-vet/tags
s-vet/s-vet-server
s-vet/dist-newstyle/*

s-vet-web/node_modules
s-vet-web/.pnp
s-vet-web.pnp.js

s-vet-web/coverage
s-vet-web/build
s-vet-web/.DS_Store
s-vet-web/.env.local
s-vet-web/.env.development.local
s-vet-web/.env.test.local
s-vet-web/.env.production.local
s-vet-web/npm-debug.log*
s-vet-web/yarn-debug.log*
s-vet-web/yarn-error.log*
